In [2]:
from dotenv import load_dotenv
import os
load_dotenv(override=True, verbose=True)

True

In [3]:
import psycopg2
import psycopg2.extras
import pandas as pd

In [4]:
RDS_DB = os.getenv("DB_NAME")
RDS_USER = os.getenv("DB_USER")
RDS_PASSWORD = os.getenv("DB_PASSWORD")
RDS_HOST = os.getenv("DB_HOST")

In [5]:
print(RDS_HOST)

trumpet.db.elephantsql.com

In [6]:

def get_db_connection() -> psycopg2.extensions.connection:
    """ Create a connection for database postgres Aurora"""
    try:
        conn = psycopg2.connect(f"""
    dbname={RDS_DB}
    user={RDS_USER} 
    password={RDS_PASSWORD}
    host={RDS_HOST}""")
        return conn
    except:
        print("Error connecting to database.")

In [7]:
conn=get_db_connection()

In [8]:
cursor=conn.cursor()

In [9]:
cursor.execute('''SELECT * FROM artist''')

In [10]:
sql = '''SELECT * FROM artwork'''
  
  
cursor.execute(sql)
column_names = [desc[0] for desc in cursor.description]
for i in column_names:
    print(i)
conn.commit()

artwork_id
title
year_completed
department
artist_id

In [11]:
sql = '''SELECT * FROM artist'''
  
  
cursor.execute(sql)
column_names = [desc[0] for desc in cursor.description]
for i in column_names:
    print(i)
conn.commit()

artist_id
artist_name
nationality
gender
year_start
year_end

In [12]:
artist_query=pd.read_sql_query(
    '''
    SELECT 
    * FROM
    artist
    ''',
    conn
)

/var/folders/n3/ffwxys9n7_g_dzzr0q172hp40000gn/T/ipykernel_4461/1321347188.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  artist_query=pd.read_sql_query(

In [13]:
artwork_query=pd.read_sql_query(
    '''
    SELECT 
    * FROM
    artwork
    ''',
    conn
)

/var/folders/n3/ffwxys9n7_g_dzzr0q172hp40000gn/T/ipykernel_4461/2940186248.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  artwork_query=pd.read_sql_query(

In [14]:
artist_df=pd.DataFrame(artist_query, columns=['artist_id','artist_name','nationality','gender','year_start','year_end'])

In [15]:
artwork_df=pd.DataFrame(artwork_query, columns=['artwork_id','title','year_completed','department','artist_id'])

In [16]:
artist_df.sample(10)

,artist_id,artist_name,nationality,gender,year_start,year_end
40,7500,Raymond Pettibon,American,Male,1957,0
150,74941,Enrique Ramírez,Chilean,Male,1979,0
77,25414,Julie Mehretu,American,Female,1970,0
103,28834,Cheyney Thompson,American,Male,1975,0
50,7855,Rachel Harrison,American,Female,1966,0
51,7919,William Kentridge,South African,Male,1955,0
86,27713,Trenton Doyle Hancock,American,Male,1974,0
53,7929,Joseph Grigely,American,Male,1956,0
120,33913,Trisha Donnelly,American,Female,1974,0
41,7525,Andrea Zittel,American,Female,1965,0

In [17]:
artwork_df.sample(10)

,artwork_id,title,year_completed,department,artist_id
1689,1684,The American War,2005,Photography,35134
1880,1875,Untitled,2002,Drawings & Prints,710
1620,1615,Hold My Bones,2000,Drawings & Prints,710
850,849,Untitled,2003,Drawings & Prints,28831
1040,1038,Study for Do the Dance,2005,Drawings & Prints,4185
4830,4818,Sopla / Gust the wind from Recurrent Goya,2015,Drawings & Prints,7480
3381,3371,Jealousy Over the Breast,2008,Drawings & Prints,710
5105,5092,Ode to Eugénie Grandet,2007,Drawings & Prints,710
2191,2185,Untitled,2002,Drawings & Prints,710
74,75,Afloat,2001,Drawings & Prints,8197

In [18]:
df=pd.merge(artist_df,artwork_df,on='artist_id',how='inner')

In [19]:
df.sample(10)

,artist_id,artist_name,nationality,gender,year_start,year_end,artwork_id,title,year_completed,department
3472,8193,James Welling,American,Male,1951,0,4207,30,2009,Photography
4684,28874,Wade Guyton,American,Male,1972,0,5401,"Untitled (Untitled, 2013, Epson UltraChrome K3...",2015,Drawings & Prints
4947,33825,Aleksandra Mir,American,Female,1967,0,3172,"Homeboys greeting card, The Wrong Gallery, 2003",2003,Drawings & Prints
1138,710,Louise Bourgeois,American,Female,1911,2010,3607,"Untitled, plate 14 of 15, from the series, Nat...",2009,Drawings & Prints
4620,28847,Kelley Walker,American,Male,1969,0,2689,Andy Warhol Doesn't Play Second Base for the C...,2010,Drawings & Prints
2224,5281,Thomas Schütte,German,Male,1954,0,3729,Woodcuts,2011,Drawings & Prints
6167,67458,Antoni Llena,Spanish,Male,1942,0,5670,S.O.S. Smoke Signals from Underground (SOS. Se...,2016,Drawings & Prints
5938,49682,Fazal Sheikh,American,Male,1965,0,5188,Independence/Nakba,2013,Photography
4974,33825,Aleksandra Mir,American,Female,1967,0,3199,Letterhead and envelopes designed by Steve Laf...,2003,Drawings & Prints
2895,7679,Kara Walker,American,Female,1969,0,1053,Harper's Pictorial History of the Civil War (A...,2005,Drawings & Prints

In [20]:
df = df[df['title'].str.contains('Untitled')==False ]

In [21]:
df.sample(10)

,artist_id,artist_name,nationality,gender,year_start,year_end,artwork_id,title,year_completed,department
1920,4671,Sigmar Polke,German,Male,1941,2010,5159,Full Moon in Aries (Vollmond im Widder),2004,Drawings & Prints
3463,8193,James Welling,American,Male,1951,0,3624,Frolic Architecture,2009,Drawings & Prints
862,710,Louise Bourgeois,American,Female,1911,2010,3278,The Ladders,2006,Drawings & Prints
2350,5983,Richard Tuttle,American,Male,1941,0,1294,Saturday from Censorship,2003,Drawings & Prints
2215,5281,Thomas Schütte,German,Male,1954,0,3145,Low Tide Wandering No. 133 (Wattwanderung No. ...,2001,Drawings & Prints
5839,48289,Alice Attie,American,Female,1950,0,4741,European Social Thought,2011,Drawings & Prints
2734,7480,Enrique Chagoya,Mexican,Male,1953,0,4241,Que sacrificio!/What a sacrifice! from Recurre...,2012,Drawings & Prints
26,710,Louise Bourgeois,American,Female,1911,2010,34,The Smell of the Feet,2000,Drawings & Prints
2652,7122,Guillermo Kuitca,Argentine,Male,1961,0,317,Lincoln Center Triptych,2002,Drawings & Prints
2883,7639,Ellen Gallagher,American,Female,1965,0,503,"Watery Ecstatic (21 06 S, 53 36 E)",2003,Drawings & Prints

In [22]:
print(min(df['year_completed']))

2000

In [23]:
print(list(df['nationality'].unique()))

['American', 'British', 'Italian', 'German', 'Swiss', 'Sudanese', 'Argentine', 'Mexican', 'Portuguese', 'Scottish', 'Brazilian', 'South African', 'Pakistani', 'Polish', 'Belgian', 'Canadian', 'French', 'Colombian', 'Chinese', 'Kenyan', 'Spanish', 'Finnish', 'Cuban', 'Albanian', 'Dutch', 'Indian', 'Korean', 'Cameroonian', 'Egyptian', 'Chilean', 'Native American']

In [24]:
print(df['gender'].isna().sum().sum())

38

In [37]:
df['year_completed'].value_counts

<bound method IndexOpsMixin.value_counts of 0       2002
1       2008
2       2009
3       2004
4       2007
        ...
6320    2019
6321    2019
6322    2019
6323    2019
6324    2019
Name: year_completed, Length: 4124, dtype: int64>

In [33]:
print(df_grouped['gender'])

TypeError: 'method' object is not subscriptable